.primaryContainer {
  @apply font-sora text-white cursor-pointer font-semibold flex justify-center items-center;

  padding: 16px 24px;
  font-size: 1rem;
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1),
    inset 4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.primaryDisabled {
  cursor: not-allowed !important;
  opacity: 0.4;
}
