.secondaryContainer {
  @apply font-sora text-grey-100 cursor-pointer font-semibold flex justify-center items-center;

  padding: 16px 24px;
  font-size: 1rem;
  border: 2px solid #7780a1;
  border-radius: 12px;
}

.secondaryDisabled {
  cursor: not-allowed !important;
  opacity: 0.4;
}
