.pageWrapper {
  padding-top: 199px;
  .artworkContainer {
    @apply flex flex-row mx-auto justify-center gap-6 flex-wrap;

    border-top: 1px solid #e2e2ed;
    padding-top: 100px;
    max-width: 1392px;
    width: 80%;

    .item {
      @apply text-center;

      width: 212px;

      svg {
        @apply mx-auto;
      }

      h2 {
        @apply text-dark-100 mt-4 font-sora;

        font-size: 3rem;
        line-height: 115%;
      }

      p {
        @apply text-grey-100 mt-1 font-inter;

        letter-spacing: 0.2px;
      }
    }
  }
}

@screen mobile {
  .pageWrapper .artworkContainer {
    @apply gap-8;
  }
}
