.pageWrapper {
  @apply w-full;

  .scrollingContainer {
    @apply flex flex-row mx-auto justify-center cursor-default;

    max-width: 2400px;

    > div {
      @apply pt-[150px] pb-[70px];
    }

    .blurImage {
      @apply absolute top-[14px];

      opacity: 0.35;
      filter: blur(50px);
      border-radius: 20px;
    }
  }
}

@media screen and (min-width: 2400px) {
  .pageWrapper .scrollingContainer {
    mask-image: linear-gradient(
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}
