.aunctionPageWrapper {
  @apply pt-16;

  .aunctionContainer {
    @apply flex flex-col w-full items-center mx-auto overflow-x-hidden;

    max-width: 2400px;

    .aunctionHorizontal {
      @apply flex flex-row w-full justify-center;

      margin-top: 72px;
    }
  }
}

@media screen and (min-width: 2400px) {
  .aunctionContainer {
    mask-image: linear-gradient(
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}
