@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(
    15px + calc(16 - 15) * calc(100vw - 320px) / calc(1392 - 320)
  );
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  height: 84px;
  font-family: "Inter", "san-serif";
  padding: 30px 32px;
  background-color: #fff;
  box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
  border-radius: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 1rem;
}

input:active,
input:focus {
  outline: none;
}

input::placeholder {
  color: #bbc0d0;
  opacity: 0.5;
}
input::-ms-input-placeholder {
  color: #bbc0d0;
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora";
  font-weight: 600;
}

h4 {
  font-size: 2.25rem;
}

.swiper-wrapper {
  transition-timing-function: linear;
}
